[simulate-sensitivity]

method = sobol
method.type = ChoiceParameter
method.choices = morris, sobol
method.help = Method to screen valid values: "morris" or "sobol".

num-samples = 1000
num-samples.type = IntegerParameter
num-samples.help = Number of samples (generally 1000 or until it converges).

calc-second-order = false
calc-second-order.type = BooleanParameter
calc-second-order.help = (sobol) calc_second_order parameter

num-levels = 4
num-levels.type = IntegerParameter
num-levels.help = (morris) num_levels parameter

samples-folder = C:/Users/Moussa/Documents/BA E3D/Durchführung/plugin/samples
samples-folder.type = PathParameter
samples-folder.direction = input
samples-folder.help = Path to place the scenario sensitivity analysis output files (samples.npy, problem.pickle).

variable-groups = ENVELOPE, INDOOR_COMFORT, INTERNAL_LOADS
variable-groups.type = MultiChoiceParameter
variable-groups.choices = ENVELOPE, INDOOR_COMFORT, INTERNAL_LOADS, SYSTEMS ECONOMIC
variable-groups.help = List of variable groups to sample (see uncertainty_distributions.xls).

sample-index = 0
sample-index.help = Zero-based index into the samples list to simulate.
sample-index.type = IntegerParameter

number-of-simulations =
number-of-simulations.type = IntegerParameter
number-of-simulations.nullable = true
number-of-simulations.help = Number of simulations to perform (leave blank to simulate all).

simulation-folder = C:/Users/Moussa/Documents/BA E3D/Durchführung/plugin/simulation
simulation-folder.type = PathParameter
simulation-folder.direction = output
simulation-folder.help = Path to copy the reference case to for simulation.

output-parameters = Qcs_sys_MWhyr, Qhs_sys_MWhyr, E_sys_MWhyr, Qhs_sys0_kW, Qcs_sys0_kW, E_sys0_kW
output-parameters.type = MultiChoiceParameter
output-parameters.choices = Qhs_sys_MWhyr, Qhs_sys0_kW
output-parameters.help = Output parameters for which the sensitivity analysis is performed.

temporal-scale = yearly
temporal-scale.type = ChoiceParameter
temporal-scale.choices = yearly, monthly
temporal-scale.help = Temporal scale of the sensitivity analysis ("monthly" or "yearly").

override-variables = false
override-variables.type = BooleanParameter
override-variables.help = True if override files stored in override-files are used (generally for sensitivity analysis).
override-variables.category = Advanced

simulation-path =C:/Users/Moussa/Documents/BA E3D/Durchführung/plugin/simulation
simulation-path.type =PathParameter
simulation-path.direction= output

samples-path =C:/Users/Moussa/Documents/BA E3D/Durchführung/plugin/samples
samples-path.type =PathParameter
samples-path.direction= output
